/*******************************************
 *****   TITLE OF WEBSITE HERE !!!!   ******
 -------------------------------------------
 *written by Thane Woidan - thanewoidan.com*
 ******************************************/

/* Mini/modified version of Eric Meyer's reset -- meyerweb.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,article,aside,big,cite,code,del,details,dfn,em,figcaption,figure,footer,header,hgroup,img,ins,kbd,nav,q,samp,section,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;}:focus{outline: 0;}img{-ms-interpolation-mode: bicubic;}body{line-height: 1;}table{border-spacing: 0;}caption,th,td{text-align: left; font-weight: normal;}blockquote:before,blockquote:after,q:before,q:after{content: "";}blockquote,q{quotes: "" "";}

/**************
	BASICS
**************/
* { box-sizing: border-box; }

html,
body {
	width: 100%;
	
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* BASE FONT SIZE */
body {
	background: none #E6E6E6;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: #6699CC;
	cursor: pointer;
}

a:hover,
a:active {
	color: #FF512F;
	outline: 0;
	text-decoration: underline;
}

/* selected text */
::selection {
	background: none #336699;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: none #336699;
	color: #FFF;
	text-shadow: none;
}

.clear {
	clear: both;
}

/**************
	CONTAINERS
**************/
.main {
	width: 100%;
	max-width: 960px;
	min-width: 672px;
	margin: 0 auto;
	background: none #FFF;
}

/**************
	SITE CONTENT
**************/
.block {
	padding: 20px;
	font-size: 24px;
	border: 1px solid #666;
}

.short { height: 75px; }
.med   { height: 150px; }
.tall  { height: 300px; }

.skinny {
	background: #ffcccc;
	width: 20%;
}

.athletic {
	background: #ccffcc;
	width: 60%;
}

.fatty {
	background: #ccccff;
	width: 100%;
}